.ui-autocomplete{
    max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            /* add padding to account for vertical scrollbar */
            padding-right: 20px;
}
body{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    position: center;
    
}

.tab { 
  margin-left: 40px; 
  
}
.tab2{
  margin-left: 50px;
}
.tab3{
  margin-left: 60px;
}
.tab4{
  margin-left: 70px;
}
#wrapper1{
  display:flex;
}
#sidebar{
  flex: 0 0 25%;
}
#igvContainer{
  flex: 1;
}

.jumbotron{
    text-align: center;
    font-family: "Trocchi";
    font-size: 24px;
}
#bodyDiv{
  padding-left: 10px;
  padding-bottom: 35px;
}
#plots{
    font-size: 14px;
}
.highlight{
  background-color: #F4A117;
  color: white;
}
p:not(.site-logo):hover{
  background-color: #F5D297
}

.jumbotron{
  background-color: #074E68;
}


/* .thead-dark {
    color: #fff;
    background-color: #373a3c;
} */

/* th {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  width: 70px;
  font-weight: normal;
  text-align: justify;
}
th:first-child {
  height: 100px;
}
th:not(:first-child) {
  height: 10px;
} */

/* Styling for table */
th{
  border:none;
}
th.rotate {
  height: 200px;
  white-space: nowrap;
}

th.rotate > div {
  transform: 
    translate(25px, 51px)
    rotate(315deg);
  width: 30px;
}
th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}

.page-header{
    font-size: 20px;
}
#plotsY{
  position: relative;
  float: right;
  padding-bottom: 20px;
}
#plotsX{
  float: left;
  position: relative;
  padding-bottom: 20px;
}
.thumbnail{
  height: 150px;
  width: 100 px;
}

#wrapper {
  display: flex;
}
#searchName {
  flex: 0 0 65%;
}
#searchRegion {
  flex: 1;
}
table{
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.dynTr:hover{
  outline: 0;
  background-color: #f1b756;
  cursor: pointer;
}
#submitButtonDiv{
  display: flex;
  justify-content: center;
}
#or{
  text-align: center;
  vertical-align: middle;
  line-height: 90px
}
#nav a.selected:link, a.selected:visited{

  color: #066;
}
.current-link{
  color:#baada7;
}
.active{
  color: red;
}
.table-striped tbody tr.highlight td { background-color: #f1b756; }
