.ui-autocomplete{
    max-height: 200px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            /* add padding to account for vertical scrollbar */
            padding-right: 20px;
}
body{
    font-family: "Cabin";
    font-size: 18px;
    position: center;
    
}
.jumbotron{
    text-align: center;
    font-family: "Trocchi";
    font-size: 24px;
}
#bodyDiv{
  padding-left: 10px;
  padding-bottom: 35px;
}
#plots{
    font-size: 14px;
}
.thead-dark {
    color: #fff;
    background-color: #373a3c;
}
th {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 95px;
  font-weight: normal;
}
.page-header{
    font-size: 20px;
}
#plotsY{
  position: relative;
  float: right;
  padding-bottom: 20px;
}
#plotsX{
  float: left;
  position: relative;
  padding-bottom: 20px;
}
.thumbnail{
  height: 150px;
  width: 100 px;
}

#wrapper {
  display: flex;
}
#searchName {
  flex: 0 0 65%;
}
#searchRegion {
  flex: 1;
}
table{
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.dynTr:hover{
  outline: 0;
  background-color: #f1b756;
  cursor: pointer;
}
#submitButtonDiv{
  display: flex;
  justify-content: center;
}
#or{
  text-align: center;
  vertical-align: middle;
  line-height: 90px
}
#nav a.selected:link, a.selected:visited{

  color: #066;
}
.current-link{
  color:#baada7;
}
.active{
  color: red;
}